.post-grid {
  padding-top: 0;
  width: 300px;
  margin: 0 auto;
}
ul.gridParent {
  display: grid;
  grid-template-columns: 300px;
  width: 100%;
  margin: 0 auto;
  grid-column-gap: 22px;
}
ul.gridParent li {
  margin-bottom: 22px;
  position: relative;
  overflow: hidden;
}
.opacityBox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1;
  display: table;
  text-align: center;
}
a h3.title-grid {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  transition: opacity 0.6s;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  width: 100%;
  display: table-cell;
}
div.info-box {
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #95d3c3;
  bottom: 0;
}
div.info-box p {
  padding: 11px;
}
.post-grid-pic a img {
  width: 100%;
}
.search_form {
  width: 945px;
  margin: 0 auto;
}
.search_form input.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-bottom: solid 1px #95d3c3;
  width: 198px;
  margin-right: 22px;
  float: left;
  padding-top: 22px;
}
input.search-submit,
.filters-form input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border: solid 1px #95d3c3;
  border-radius: 10px;
  padding: 11px;
}
.filters-form input[type="submit"] {
  margin-top: 11px;
  margin-bottom: 11px;
}
input.search-submit:hover,
input.search-submit:focus,
.filters-form input[type="submit"]:hover,
.filters-form input[type="submit"]:focus {
  background-color: #95d3c3;
  color: #fff;
}
.resultat-error {
  text-align: center;
  width: 300px;
}
.filters-form > div > ul > li > ul {
  display: none;
}
.filters-form > div > ul > li > ul > li > h4 {
  position: relative;
}
.searchandfilter {
  height: 100%;
  position: relative;
}
.searchandfilter ul {
  width: 100%;
}
.searchandfilter li {
  list-style: none;
  display: block !important;
  padding-right: 10px;
}
.searchandfilter ul > li > ul:not(.children) {
  overflow: hidden;
  height: 94px;
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  left: 0;
  background-color: #ffffff;
}
.searchandfilter ul > li > ul:not(.children):first-child {
  overflow: hidden;
  height: 94px !important;
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  left: 0;
  background-color: #ffffff;
}
li.cat-item {
  top: 50px;
}
.form-height {
  height: 150px !important;
}
.item-color {
  color: #7ea989 !important;
}
.hide {
  display: none !important;
}
.filter-icon1,
.filter-icon2,
.filter-icon3,
.filter-icon4,
.filter-icon5,
.filter-icon6,
.filter-icon7,
.filter-icon8,
.filter-icon9,
.filter-icon10,
.filter-icon11,
.filter-icon12,
.filter-icon13,
.filter-icon14,
.filter-icon15,
.filter-icon16,
.filter-icon17,
.filter-icon18,
.filter-icon19,
.filter-icon20,
.filter-icon21,
.filter-icon22,
.filter-icon23,
.filter-icon24 {
  position: relative;
}
.filter-icon1 > label,
.filter-icon2 > label,
.filter-icon3 > label,
.filter-icon4 > label,
.filter-icon5 > label,
.filter-icon6 > label,
.filter-icon7 > label,
.filter-icon8 > label,
.filter-icon9 > label,
.filter-icon10 > label,
.filter-icon11 > label,
.filter-icon12 > label,
.filter-icon13 > label,
.filter-icon14 > label,
.filter-icon15 > label,
.filter-icon16 > label,
.filter-icon17 > label,
.filter-icon18 > label,
.filter-icon19 > label,
.filter-icon20 > label,
.filter-icon21 > label,
.filter-icon22 > label,
.filter-icon23 > label,
.filter-icon24 > label {
  visibility: hidden;
}
.filter-icon1 > label > input,
.filter-icon2 > label > input,
.filter-icon3 > label > input,
.filter-icon4 > label > input,
.filter-icon5 > label > input,
.filter-icon6 > label > input,
.filter-icon7 > label > input,
.filter-icon8 > label > input,
.filter-icon9 > label > input,
.filter-icon10 > label > input,
.filter-icon11 > label > input,
.filter-icon12 > label > input,
.filter-icon13 > label > input,
.filter-icon14 > label > input,
.filter-icon15 > label > input,
.filter-icon16 > label > input,
.filter-icon17 > label > input,
.filter-icon18 > label > input,
.filter-icon19 > label > input,
.filter-icon20 > label > input,
.filter-icon21 > label > input,
.filter-icon22 > label > input,
.filter-icon23 > label > input,
.filter-icon24 > label > input {
  visibility: visible;
}
input[type=checkbox] {
  visibility: hidden !important;
}
.filter-icon1 input[type=checkbox]:after,
.filter-icon2 input[type=checkbox]:after,
.filter-icon3 input[type=checkbox]:after,
.filter-icon4 input[type=checkbox]:after,
.filter-icon5 input[type=checkbox]:after,
.filter-icon6 input[type=checkbox]:after,
.filter-icon7 input[type=checkbox]:after,
.filter-icon8 input[type=checkbox]:after,
.filter-icon9 input[type=checkbox]:after,
.filter-icon10 input[type=checkbox]:after,
.filter-icon11 input[type=checkbox]:after,
.filter-icon12 input[type=checkbox]:after,
.filter-icon13 input[type=checkbox]:after,
.filter-icon14 input[type=checkbox]:after,
.filter-icon15 input[type=checkbox]:after,
.filter-icon16 input[type=checkbox]:after,
.filter-icon17 input[type=checkbox]:after,
.filter-icon18 input[type=checkbox]:after,
.filter-icon19 input[type=checkbox]:after,
.filter-icon20 input[type=checkbox]:after,
.filter-icon21 input[type=checkbox]:after,
.filter-icon22 input[type=checkbox]:after,
.filter-icon23 input[type=checkbox]:after,
.filter-icon24 input[type=checkbox]:after {
  position: absolute;
  transform: scale(0.2);
  visibility: visible;
}
.filter-icon1 input[type=checkbox]:checked:after,
.filter-icon2 input[type=checkbox]:checked:after,
.filter-icon3 input[type=checkbox]:checked:after,
.filter-icon4 input[type=checkbox]:checked:after,
.filter-icon5 input[type=checkbox]:checked:after,
.filter-icon6 input[type=checkbox]:checked:after,
.filter-icon7 input[type=checkbox]:checked:after,
.filter-icon8 input[type=checkbox]:checked:after,
.filter-icon9 input[type=checkbox]:checked:after,
.filter-icon10 input[type=checkbox]:checked:after,
.filter-icon11 input[type=checkbox]:checked:after,
.filter-icon12 input[type=checkbox]:checked:after,
.filter-icon13 input[type=checkbox]:checked:after,
.filter-icon14 input[type=checkbox]:checked:after,
.filter-icon15 input[type=checkbox]:checked:after,
.filter-icon16 input[type=checkbox]:checked:after,
.filter-icon17 input[type=checkbox]:checked:after,
.filter-icon18 input[type=checkbox]:checked:after,
.filter-icon19 input[type=checkbox]:checked:after,
.filter-icon20 input[type=checkbox]:checked:after,
.filter-icon21 input[type=checkbox]:checked:after,
.filter-icon22 input[type=checkbox]:checked:after,
.filter-icon23 input[type=checkbox]:checked:after,
.filter-icon24 input[type=checkbox]:checked:after {
  position: absolute;
  transform: scale(0.2);
}
.filter-icon1 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -158px;
}
.filter-icon2 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -263px;
  left: -74px;
}
.filter-icon3 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -234px;
}
.filter-icon4 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -221px;
}
.filter-icon5 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -343px;
}
.filter-icon6 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -387px;
}
.filter-icon7 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -378px;
}
.filter-icon8 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -380px;
}
.filter-icon9 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -263px;
  left: 433px;
}
.filter-icon10 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_hog.png);
  top: -244px;
  left: -158px;
}
.filter-icon11 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_lag.png);
  top: -263px;
  left: -74px;
}
.filter-icon12 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_gray_mellan.png);
  top: -282px;
  left: 12px;
}
.filter-icon13 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/tid_grey_hog.png);
  top: -244px;
  left: -158px;
}
.filter-icon14 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/tid_grey_lag.png);
  top: -263px;
  left: -74px;
}
.filter-icon15 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/tid_grey_mellan.png);
  top: -282px;
  left: 12px;
}
.filter-icon16 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/Level_grey_hog.png);
  top: -244px;
  left: -158px;
}
.filter-icon17 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/Level_grey_lag.png);
  top: -263px;
  left: -74px;
}
.filter-icon18 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/Level_grey_mellan.png);
  top: -282px;
  left: 12px;
}
.filter-icon19 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/plats_grey_both.png);
  top: -277px;
  left: -169px;
}
.filter-icon20 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/plats_grey_landsbygd.png);
  top: -262px;
  left: -74px;
}
.filter-icon21 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/plats_grey_stad.png);
  top: -281px;
  left: 25px;
}
.filter-icon22 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/org_grey_both.png);
  top: -277px;
  left: -169px;
}
.filter-icon23 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/org_grey_foretag.png);
  top: -262px;
  left: -74px;
}
.filter-icon24 input[type=checkbox]:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/org_grey_offentlig.png);
  top: -281px;
  left: 25px;
}
.filter-icon1 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -185px;
}
.filter-icon2 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -245px;
}
.filter-icon3 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -234px;
}
.filter-icon4 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -221px;
}
.filter-icon5 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -343px;
}
.filter-icon6 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -387px;
}
.filter-icon7 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -378px;
}
.filter-icon8 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -380px;
}
.filter-icon9 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -263px;
  left: 433px;
}
.filter-icon10 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_hog.png);
  top: -244px;
  left: -158px;
}
.filter-icon11 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_lag.png);
  top: -263px;
  left: -74px;
}
.filter-icon12 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/kostnad_color_mellan.png);
  top: -282px;
  left: 12px;
}
.filter-icon13 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/tid_color_hog.png);
  top: -244px;
  left: -158px;
}
.filter-icon14 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/tid_color_lag.png);
  top: -263px;
  left: -74px;
}
.filter-icon15 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/tid_color_mellan.png);
  top: -282px;
  left: 12px;
}
.filter-icon16 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/Level_color_hog.png);
  top: -244px;
  left: -158px;
}
.filter-icon17 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/Level_color_lag.png);
  top: -263px;
  left: -74px;
}
.filter-icon18 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/Level_color_mellan.png);
  top: -282px;
  left: 12px;
}
.filter-icon19 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/plats_color_both.png);
  top: -277px;
  left: -169px;
}
.filter-icon20 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/plats_color_landsbygd.png);
  top: -262px;
  left: -74px;
}
.filter-icon21 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/plats_color_stad.png);
  top: -281px;
  left: 25px;
}
.filter-icon22 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/org_color_both.png);
  top: -277px;
  left: -169px;
}
.filter-icon23 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/org_color_foretag.png);
  top: -262px;
  left: -74px;
}
.filter-icon24 input[type=checkbox]:checked:after {
  content: url(http://resval.local/wp-content/themes/Resval/img/icons-mini/org_color_offentlig.png);
  top: -281px;
  left: 25px;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  .post-grid {
    width: 1000px;
    margin: 0 auto;
  }
  .post-grid .filterbox {
    width: 945px;
    margin: 0 auto;
  }
  .post-grid .resultat-error {
    width: 940px;
  }
  .post-grid ul.gridParent {
    grid-template-columns: 300px 300px 300px;
    width: 945px;
    margin: 0 auto;
    margin-top: 66px;
  }
  .gridParent li {
    float: left;
    position: relative;
  }
  div.info-box {
    position: absolute;
    text-align: center;
    height: 150px;
    opacity: 1;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    background-color: #95d3c3;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    transition: 0.4s linear;
    padding: 11px;
    width: 0;
  }
  div.info-box p {
    display: none;
    padding: 0;
  }
  .a-project:hover .opacityBox {
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .a-project:hover h3.title-grid {
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .a-project:hover div.info-box {
    width: 178px;
    right: 0px;
    transition: 0.6s linear;
  }
  .a-project:hover div.info-box p {
    display: block;
  }
  .searchandfilter {
    height: 130px;
  }
  .searchandfilter li {
    display: inline-block !important;
  }
  .searchandfilter li h4 {
    margin-right: 22px;
  }
  .filter-icon1 input[type=checkbox]:after {
    top: -244px;
    left: -185px;
  }
  .filter-icon2 input[type=checkbox]:after {
    top: -244px;
    left: -245px;
  }
  .filter-icon3 input[type=checkbox]:after {
    top: -244px;
    left: -234px;
  }
  .filter-icon4 input[type=checkbox]:after {
    top: -244px;
    left: -221px;
  }
  .filter-icon5 input[type=checkbox]:after {
    top: -244px;
    left: -343px;
  }
  .filter-icon6 input[type=checkbox]:after {
    top: -244px;
    left: -387px;
  }
  .filter-icon7 input[type=checkbox]:after {
    top: -244px;
    left: -378px;
  }
  .filter-icon8 input[type=checkbox]:after {
    top: -244px;
    left: -380px;
  }
  .filter-icon9 input[type=checkbox]:after {
    top: -263px;
    left: 433px;
  }
  .filter-icon10 input[type=checkbox]:after {
    top: -243px;
    left: -180px;
  }
  .filter-icon11 input[type=checkbox]:after {
    top: -243px;
    left: -139px;
  }
  .filter-icon12 input[type=checkbox]:after {
    top: -243px;
    left: -97px;
  }
  .filter-icon13 input[type=checkbox]:after {
    top: -243px;
    left: -180px;
  }
  .filter-icon14 input[type=checkbox]:after {
    top: -243px;
    left: -139px;
  }
  .filter-icon15 input[type=checkbox]:after {
    top: -243px;
    left: -97px;
  }
  .filter-icon16 input[type=checkbox]:after {
    top: -243px;
    left: -180px;
  }
  .filter-icon17 input[type=checkbox]:after {
    top: -243px;
    left: -139px;
  }
  .filter-icon18 input[type=checkbox]:after {
    top: -243px;
    left: -97px;
  }
  .filter-icon19 input[type=checkbox]:after {
    top: -277px;
    left: -175px;
  }
  .filter-icon20 input[type=checkbox]:after {
    top: -243px;
    left: -135px;
  }
  .filter-icon21 input[type=checkbox]:after {
    top: -243px;
    left: -137px;
  }
  .filter-icon22 input[type=checkbox]:after {
    top: -278px;
    left: -175px;
  }
  .filter-icon23 input[type=checkbox]:after {
    top: -243px;
    left: -135px;
  }
  .filter-icon24 input[type=checkbox]:after {
    top: -243px;
    left: -113px;
  }
  .filter-icon1 input[type=checkbox]:checked:after {
    top: -244px;
    left: -185px;
  }
  .filter-icon2 input[type=checkbox]:checked:after {
    top: -244px;
    left: -245px;
  }
  .filter-icon3 input[type=checkbox]:checked:after {
    top: -244px;
    left: -234px;
  }
  .filter-icon4 input[type=checkbox]:checked:after {
    top: -244px;
    left: -221px;
  }
  .filter-icon5 input[type=checkbox]:checked:after {
    top: -244px;
    left: -343px;
  }
  .filter-icon6 input[type=checkbox]:checked:after {
    top: -244px;
    left: -387px;
  }
  .filter-icon7 input[type=checkbox]:checked:after {
    top: -244px;
    left: -378px;
  }
  .filter-icon8 input[type=checkbox]:checked:after {
    top: -244px;
    left: -380px;
  }
  .filter-icon9 input[type=checkbox]:checked:after {
    top: -263px;
    left: 433px;
  }
  .filter-icon10 input[type=checkbox]:checked:after {
    top: -243px;
    left: -180px;
  }
  .filter-icon11 input[type=checkbox]:checked:after {
    top: -243px;
    left: -139px;
  }
  .filter-icon12 input[type=checkbox]:checked:after {
    top: -243px;
    left: -97px;
  }
  .filter-icon13 input[type=checkbox]:checked:after {
    top: -243px;
    left: -180px;
  }
  .filter-icon14 input[type=checkbox]:checked:after {
    top: -243px;
    left: -139px;
  }
  .filter-icon15 input[type=checkbox]:checked:after {
    top: -243px;
    left: -97px;
  }
  .filter-icon16 input[type=checkbox]:checked:after {
    top: -243px;
    left: -180px;
  }
  .filter-icon17 input[type=checkbox]:checked:after {
    top: -243px;
    left: -139px;
  }
  .filter-icon18 input[type=checkbox]:checked:after {
    top: -243px;
    left: -97px;
  }
  .filter-icon19 input[type=checkbox]:checked:after {
    top: -277px;
    left: -175px;
  }
  .filter-icon20 input[type=checkbox]:checked:after {
    top: -243px;
    left: -135px;
  }
  .filter-icon21 input[type=checkbox]:checked:after {
    top: -243px;
    left: -137px;
  }
  .filter-icon22 input[type=checkbox]:checked:after {
    top: -278px;
    left: -175px;
  }
  .filter-icon23 input[type=checkbox]:checked:after {
    top: -243px;
    left: -135px;
  }
  .filter-icon24 input[type=checkbox]:checked:after {
    top: -243px;
    left: -113px;
  }
  .searchandfilter ul > li > ul:not(.children) {
    position: absolute;
    overflow: hidden;
    height: 112px;
    width: 945px !important;
    padding: 5px;
    box-sizing: border-box;
    left: 0;
  }
}
