.post-grid {
  padding: 22px;
}
ul.gridParent {
  overflow: hidden;
  margin-top: 11px;
}
a h3.title-grid {
  position: absolute;
  z-index: 10;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle;
  line-height: 300px;
  text-transform: uppercase;
  color: #ffffff;
}
div.info-box {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 11;
}
.post-grid-pic a img {
  position: relative;
  margin-top: 11px;
}
.post-grid-pic a img:hover {
  filter: none;
  -webkit-transition: filter 0.6s;
  -moz-transition: filter 0.6s;
  transition: filter 0.6s;
}
h3.title-grid:hover {
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
div.info-box:hover {
  display: block;
  z-index: 11;
  background-color: #95d3c3;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  .gridParent li {
    float: left;
  }
  a h3.title-grid {
    display: inline-block;
  }
  span.a-project {
    margin: 11px;
  }
  div.filterbox {
    overflow: hidden;
  }
  ul.project_type {
    float: right;
  }
  li.filter {
    display: inline;
  }
  li.filter a {
    text-transform: uppercase;
    border: solid 1px #f1d417;
    border-radius: 5px;
    padding: 5px;
    margin: 11px;
    float: right;
  }
  input.form-control {
    -webkit-appearance: none;
    background: none;
    border: none;
    border-bottom: solid 1px #95d3c3;
    width: 198px;
    margin-right: 22px;
    float: left;
    padding-top: 22px;
  }
  input.search-submit {
    -webkit-appearance: none;
    background: none;
    border: solid 1px #95d3c3;
    border-radius: 10px;
    padding: 11px;
  }
  input.search-submit:hover {
    background-color: #95d3c3;
    color: #fff;
  }
}
