/*-- FOOTER ------------------------------------------------------------------*/
footer {
  clear: both;
  background: white;
  text-align: center;
}
footer .smallfooter {
  background-color: #2e5047;
  color: white;
  padding: 22px 22px;
}
footer .smallfooter .footer-text {
  margin-top: 11px;
  clear: both;
}
footer .smallfooter .footer-text ul li .newsletter a {
  color: white;
}
footer .smallfooter .footer-text ul li #footer-logo-container ul li #footer-logo {
  width: 100px;
  margin: 11px auto;
}
footer .smallfooter .footer-text .copyright {
  color: white;
  margin-top: 11px;
  font-size: 10px;
}
@media only screen and (min-width: 768px) {
  footer .smallfooter .footer-text ul {
    overflow: hidden;
  }
  footer .smallfooter .footer-text ul li {
    width: 50%;
    float: left;
    position: relative;
    height: 50px;
  }
  footer .smallfooter .footer-text ul li .newsletter {
    text-align: left;
    position: absolute;
    bottom: 0;
  }
  footer .smallfooter .footer-text ul li #footer-logo-container {
    margin: 0;
  }
  footer .smallfooter .footer-text ul li #footer-logo-container ul {
    overflow: hidden;
    width: 50%;
  }
  footer .smallfooter .footer-text ul li #footer-logo-container ul li {
    float: left;
  }
  footer .smallfooter .footer-text ul li #footer-logo-container ul li #footer-logo {
    margin: 11px 0;
  }
  footer .smallfooter .footer-text .copyright {
    text-align: left;
  }
}
