/*-- FOOTER ------------------------------------------------------------------*/
footer {
  margin-top: 88px;
  clear: both;
  background: white;
  text-align: center;
}
footer .footerLine {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  border: 0;
}
footer .logofooter {
  margin-top: 44px;
  padding: 0 44px;
}
footer .logofooter .logoContainerFooter ul {
  overflow: hidden;
}
footer .logofooter .logoContainerFooter ul li {
  float: left;
  width: 33.3333%;
}
footer .logofooter .logoContainerFooter ul li #innerdivFooterLogos {
  margin: 11px;
}
footer .copyright {
  margin-top: 44px;
  background-color: #2e5047;
  padding: 44px;
  text-align: center;
}
footer .copyright p {
  color: white;
}
