.inputfile {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: none;
}
.form-container.bidra {
  overflow-y: scroll;
  width: 100%;
}
.form-container.bidra .dropdownTitle {
  text-align: left;
}
.form-container.bidra .dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: none;
  border: solid 1px white;
  border-radius: 0;
  height: 22px;
  margin-bottom: 22px;
  width: 100%;
  max-width: 400px;
  margin-top: 11px;
}
.skicka {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #fff;
  color: #95d3c3;
  padding: 11px;
  width: 200px;
  font-family: 'Oswald';
  font-size: 20px;
  margin-top: 22px;
}
.skicka:hover,
.skicka:focus {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #95d3c3;
  font-family: 'Oswald';
  font-size: 20px;
}
