.inputfile {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: none;
}
.form-container.bidra {
  overflow-y: scroll;
  width: 100%;
}
.form-container.bidra .dropdownTitle {
  text-align: left;
}
.form-container.bidra .dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: none;
  border: solid 1px white;
  border-radius: 0;
  height: 22px;
  margin-bottom: 22px;
  width: 100%;
  max-width: 400px;
  margin-top: 11px;
}
