.show {
  display: block !important;
}
div.content-wrapper {
  padding: 88px;
}
div.expander-container {
  width: 100%;
  max-width: 800px;
  padding-top: 44px;
}
.expander-trigger {
  width: 100%;
  padding: 22px;
  border: solid 1px #95d3c3;
  border-radius: 4px;
  display: block;
  position: relative;
  box-sizing: border-box;
  background-color: #95d3c3;
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.expander-trigger:after {
  content: "+";
  position: absolute;
  right: 22px;
  top: 22px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  color: white;
  border: solid 1px white;
}
.expanding-area {
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
  display: none;
  border: solid 1px #95d3c3;
}
