.show {
  display: block !important;
}
div.content-wrapper {
  padding: 44px;
  width: 100%;
  box-sizing: border-box;
}
div.content-wrapper div.framgangsfaktor-container {
  padding-top: 22px;
}
div.expander-container {
  width: 100%;
  max-width: 800px;
}
.framgangsfaktor-trigger {
  width: 100%;
  padding: 22px;
  font-size: 16px;
  line-height: 22px;
  border: solid 1px #95d3c3;
  border-radius: 4px;
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: left;
}
.framgangsfaktor-open {
  background-color: #95d3c3;
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.framgangsfaktor:after {
  content: "\f078";
  line-height: 22px;
  position: absolute;
  right: 22px;
  top: 22px;
  font-family: FontAwesome;
  text-align: center;
  color: #95d3c3;
  border: solid 1px #95d3c3;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
}
.expanding-area {
  width: 100%;
  padding-top: 22px;
  box-sizing: border-box;
  display: none;
  border: solid 1px #95d3c3;
}
.expanding-area p.framgangsfaktor_description {
  padding: 11px;
}
