main {
  margin: 0;
}
.logoContainerFooter,
.mostPopularProjectsFP {
  padding: 22px;
}
h2.section-title {
  text-align: center;
}
.topSectionFP {
  background: #95d3c3;
  padding: 22px 22px 44px;
}
.topSectionFP .topLeftFP .div_topp_img_hem .topp_img_hem {
  width: 100%;
}
.topSectionFP .topRightFP .div_topp_text_hem {
  margin: 11px 0;
}
.topSectionFP .topRightFP .div_topp_text_hem .title_FP {
  text-align: center;
}
.topSectionFP .topRightFP .div_topp_text_hem p {
  margin-top: 11px;
  line-height: 150%;
}
.topSectionFP .topRightFP .buttonContainerFP {
  text-align: center;
}
.topSectionFP .topRightFP .buttonContainerFP a button {
  padding: 11px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 40%;
  margin-top: 22px;
  border: none;
}
.mostPopularProjectsFP {
  padding: 44px 22px;
}
.carouselProject section .slick-prev {
  left: -11px;
  z-index: 10;
}
.carouselProject section .slick-next {
  right: -11px;
  z-index: 10;
}
.carouselProject section div.slick-list div.slick-track img {
  margin: auto;
  max-height: 200px;
}
.carouselProject section div.slick-list div.slick-track div div {
  padding: 22px;
}
.carouselProject section div.slick-list div.slick-track div div div.car-caption {
  color: white;
  padding: 0;
}
.carouselProject section div.slick-list div.slick-track div div div.car-caption h3 {
  margin-top: 11px;
  text-align: left;
}
.carouselProject section div.slick-list div.slick-track div div div.car-caption p {
  font-size: 10px;
  text-align: left;
}
.carouselProject section div.slick-list div.slick-track div div div.car-caption p a {
  font-size: 10px;
}
.contactbackground {
  background-color: #7ea989;
  width: 100%;
}
.contactbackground .contactInfoFP {
  text-align: center;
  padding: 44px 0;
}
.contactbackground .contactInfoFP p {
  margin-top: 11px;
}
.contactbackground .contactInfoFP .contactButtonContainerFP {
  text-align: center;
}
.contactbackground .contactInfoFP .contactButtonContainerFP a button {
  padding: 11px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 40%;
  margin-top: 22px;
  border: none;
}
.logoContainerFooter {
  text-align: center;
  padding: 44px 22px;
}
.logoContainerFooter ul {
  overflow: hidden;
  margin: 22px -11px;
}
.logoContainerFooter ul li {
  float: left;
  width: 50%;
}
.logoContainerFooter ul li div {
  margin: 0;
}
.logoContainerFooter ul li div img {
  max-height: 50px !important;
}
.logoContainerFooter ul li:nth-child(2n+1) {
  clear: left;
}
ul.slides {
  overflow: hidden;
}
li.a-project.flex-active-slide,
li.a-project {
  width: 300px !important;
  margin: 0 7px;
}
.flexslider {
  max-width: auto !important;
}
div.hover-box > p {
  display: none;
}
.opacity-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1;
  display: table;
  text-align: center;
}
div.hover-box {
  position: absolute;
  text-align: center;
  width: 300px;
  background-color: #95d3c3;
  bottom: 0;
  opacity: 0;
}
div.hover-box p {
  padding: 11px;
}
.a-project:hover .opacity-box {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}
.a-project:hover div.hover-box {
  position: absolute;
  text-align: center;
  background-color: #95d3c3;
  bottom: 0;
  opacity: 1;
}
.a-project:hover div.hover-box p {
  padding: 11px;
  display: block;
  width: 100%;
}
/* ---------------------------------------------------------------------------------------------------------------------
       ipad version
  ----------------------*/
@media only screen and (min-width: 768px) {
  .topSectionFP {
    overflow: hidden;
    margin: 0 -22px;
    padding: 66px 22px;
  }
  .topSectionFP .topLeftFP {
    width: 50%;
    float: left;
  }
  .topSectionFP .topLeftFP .div_topp_img_hem {
    padding: 0 11px;
    margin: 0 22px;
  }
  .topSectionFP .topRightFP {
    float: right;
    width: 50%;
  }
  .topSectionFP .topRightFP .div_topp_text_hem {
    padding: 0 11px;
    margin: 0 22px;
  }
  .topSectionFP .topRightFP .div_topp_text_hem .buttonContainerFP > a button {
    font-size: 14px;
  }
  .topSectionFP .topRightFP .div_topp_text_hem .buttonContainerFP > a button:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .mostPopularProjectsFP {
    margin: 44px 0;
  }
  .mostPopularProjectsFP > ul {
    overflow: hidden;
    margin: 0 -11px;
  }
  .mostPopularProjectsFP > ul > li {
    float: left;
    width: 33.3333%;
  }
  .mostPopularProjectsFP > ul > li > div {
    margin: 11px;
    border: 2px dashed black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  .mostPopularProjectsFP > ul > li > div > p {
    margin: 30px;
  }
  .project-slider .flexsliderProject .projectCard {
    overflow: hidden;
  }
  .project-slider .flexsliderProject .projectCard .singleProjectSlider {
    float: left;
    width: 50%;
  }
  .contactbackground {
    padding: 22px 0;
  }
  .contactbackground .contactInfoFP .contactButtonContainerFP a button {
    width: 25%;
    font-size: 14px;
  }
  .contactbackground .contactInfoFP .contactButtonContainerFP a button:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .logoContainerFooter {
    margin: 0 44px;
    padding: 88px 22px;
  }
  .logoContainerFooter ul {
    overflow: hidden;
    margin: 22px -11px;
  }
  .logoContainerFooter ul li {
    float: left;
    width: 25%;
  }
  .logoContainerFooter ul li div {
    margin: 0;
    padding: 0 11px;
  }
  .logoContainerFooter ul li div img {
    max-height: 80px !important;
  }
  .logoContainerFooter ul li:nth-child(2n+1) {
    clear: none;
  }
  .a-project:hover .opacity-box {
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .a-project:hover h3.title-grid {
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .a-project:hover div.hover-box {
    width: 178px;
    right: 0px;
    transition: 0.6s linear;
  }
  .a-project:hover div.hover-box p {
    display: block;
  }
}
