/*-- HEADER ------------------------------------------------------------------*/
header {
  overflow: hidden;
  width: 100vW;
  max-width: 1366px !important;
  padding: 44px;
  box-sizing: border-box;
  background: white;
  position: fixed;
  z-index: 100;
  top: 0;
}
span.responsive-menu-box {
  margin-top: 22px;
}
.logo {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#logocontainer {
  display: inline;
}
/*-- NAVIGATION --------------------------------------------------------------*/
div#responsive-menu-wrapper {
  padding-top: 88px;
}
#responsive-menu-search-box {
  display: none;
}
@media only screen and (min-width: 768px) {
  header {
    position: inherit;
  }
  .logo {
    width: 10%;
    display: inline;
  }
  #mainmenu {
    float: right;
  }
  nav > div.menu-menu-container > ul.menu > li {
    display: inline;
    padding: 11px;
  }
  nav > div.menu-menu-container > ul.menu > li:hover {
    border-bottom: 1px solid #7ea989;
    padding-bottom: 0;
  }
  nav > div.menu-menu-container > ul.menu > li.current-menu-item {
    border-bottom: 1px solid #7ea989;
    padding-bottom: 0;
  }
  nav > div.menu-menu-container > ul.menu > li:nth-last-child(1) {
    background-color: #7ea989;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  nav > div.menu-menu-container > ul.menu > li:nth-last-child(1):hover {
    border: 1px solid #7ea989 !important;
    background: none;
    padding-bottom: 11px;
    box-sizing: border-box;
  }
  nav > div.menu-menu-container > ul.menu > li:nth-last-child(1).current-menu-item {
    border: 1px solid #7ea989 !important;
    background: none;
    padding-bottom: 11px;
    box-sizing: border-box;
  }
}
