/*-- HEADER ------------------------------------------------------------------*/
header {
  padding: 25px 25px;
  overflow: hidden;
}
.logo {
  width: 10%;
}
#logocontainer {
  display: inline;
}
/*-- NAVIGATION --------------------------------------------------------------*/
#mainmenu {
  float: right;
  padding: 25px;
}
nav > div.menu-menu-container > ul.menu > li {
  display: inline;
  padding: 10px 10px 10px 10px;
}
