input.contact-label,
textarea.contact-label {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: none;
  border-bottom: solid 1px white;
  margin-bottom: 22px;
  width: 100%;
  max-width: 400px;
}
textarea.contact-label {
  border: solid 1px white;
}
div.column-right > div.form-container {
  text-align: center;
}
input.submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px white;
  padding: 11px;
  background: none;
  border-radius: 44px;
  width: 88px;
  color: white;
}
input.submit-button:hover {
  background: white;
  color: #95d3c3;
}
