div.column-left,
div.column-right {
  width: 50%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}
div.column-left > img {
  width: 100%;
  height: auto !important;
  margin: 0 auto;
}
div.column-right {
  background-color: #7ea989;
}
div.column-right > div.scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}
