div.column-container {
  width: 100%;
  overflow: hidden;
}
div.column-left,
div.column-right {
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
}
div.column-left {
  padding: 66px 44px;
  box-sizing: border-box;
}
div.column-left > img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin: auto auto;
}
div.column-right {
  background-color: #95d3c3;
  margin-left: 290px;
  animation: 1s ease-out 2s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
div.column-right > div.scroll-y {
  padding: 66px;
}
div.column-right > div.scroll-y > p:last-child {
  padding-bottom: 44px;
}
div.sponsor-container {
  margin-top: 44px;
}
div.sponsor-container > a > img.sponsor-logo {
  width: 100%;
  height: auto;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  div.column-left,
  div.column-right {
    width: 50%;
    float: left;
    padding: 44px;
    box-sizing: border-box;
    margin: 82px 0 0 0;
  }
  div.column-left > img {
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 88px;
    width: 300px;
    height: auto;
  }
  div.column-right {
    padding: 44px;
  }
  div.column-right > div.scroll-y > p:last-child {
    padding-bottom: 44px;
  }
}
