div.column-container {
  width: 100%;
  overflow: hidden;
}
div.column-left,
div.column-right {
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
}
div.column-left {
  padding: 66px 44px;
  box-sizing: border-box;
}
div.column-left > img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin: auto auto;
}
ol.flex-control-nav.flex-control-paging {
  display: none;
}
li.project-image,
li.project-image.flex-active-slide {
  height: 300px;
  list-style: none;
  margin-left: 5px;
}
li.project-image > img,
li.project-image.flex-active-slide > img {
  height: 100%;
  width: auto;
  text-align: center;
}
div.column-right {
  background-color: #95d3c3;
  height: 100%;
}
div.column-right > div.scroll-y {
  padding: 66px;
}
div.column-right > div.scroll-y > p:last-child {
  padding-bottom: 44px;
}
div.sponsor-area {
  margin-top: 44px;
}
li.sponsor-container {
  margin-top: 11px;
  width: 50%;
  height: 200px;
  float: left;
  padding-left: 11px;
  box-sizing: border-box;
}
li.sponsor-container > a > img.sponsor-logo {
  width: 100%;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  div.column-left,
  div.column-right {
    width: 50%;
    float: left;
    padding: 44px;
    box-sizing: border-box;
    margin: 82px 0 0 0;
  }
  div.column-left > img {
    position: fixed;
    z-index: 100;
    top: 38%;
    left: 88px;
    width: 280px;
    height: auto;
  }
  div.column-right {
    padding: 44px;
  }
  @-webkit-keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @-moz-keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @-o-keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  div.column-right > div.scroll-y > p:last-child {
    padding-bottom: 44px;
  }
}
@media only screen and (min-width: 1024px) {
  div.column-left > img {
    width: 400px;
  }
}
