div.column-right > div.scroll-y div.ingredients-container {
  padding: 22px 0;
}
div.column-right > div.scroll-y div.ingredients-container :first-child {
  padding-left: 0 !important;
}
div.column-right > div.scroll-y div.ingredients-container span.effort,
div.column-right > div.scroll-y div.ingredients-container span.time,
div.column-right > div.scroll-y div.ingredients-container span.groupsize,
div.column-right > div.scroll-y div.ingredients-container span.budget {
  display: inline;
  width: 50px;
  height: 50px;
  padding-left: 22px;
}
div.column-right > div.scroll-y div.ingredients-container span.effort img,
div.column-right > div.scroll-y div.ingredients-container span.time img,
div.column-right > div.scroll-y div.ingredients-container span.groupsize img,
div.column-right > div.scroll-y div.ingredients-container span.budget img {
  width: 50px;
  height: auto;
}
div.column-right > div.scroll-y div.project-description div.description-section {
  padding-top: 22px;
}
div.column-right > div.scroll-y div.project-description div.description-section div.expander-container a.expander-trigger h4.icon-handle {
  display: inline-block;
}
div.column-right > div.scroll-y div.project-description div.description-section div.expander-container a.expander-trigger h4.icon-handle:after {
  content: "\f078";
  line-height: 22px;
  position: absolute;
  left: 136px;
  top: 36px;
  font-family: FontAwesome;
  text-align: center;
  color: white;
  border: solid 1px white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
}
div.description-section > div.expander-container > a.expander-trigger:after {
  content: '';
  border: none;
}
