// -- COLORS -------------------------------------------------------------------

@color-mintgreen: #95d3c3;
@color-lightgreen: #7ea989;
@color-darkgreen: #2e5047;
@color-yellow: #f1d417;

// -- GRID ---------------------------------------------------------------------

//whitespace (ws)
@ws_1: 11px;
@ws_2: 22px;
@ws_4: 44px;
@ws_6: 66px;
@ws_8: 88px;


//-----Here we style the post grid------------------

.post-grid{
    //padding: @ws_4;
    padding-top: 0;
    width: 300px;
    margin: 0 auto;
}
ul.gridParent{
//    margin-top: @ws_1;
    display: grid;
    grid-template-columns: 300px;
    width: 100%;
    margin: 0 auto;
    grid-column-gap: @ws_2;

    li{
        margin-bottom: @ws_2;
        position: relative;
        overflow: hidden;
    }
}

.opacityBox{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 300px;
    height: 300px;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 1;
    display: table;
    text-align: center;
}

a h3.title-grid{
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    width: 100%;
    display: table-cell;
}

div.info-box{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: @color-mintgreen;
    bottom: 0;
    p{
        padding: @ws_1;
    }
}


//div.info-box{
//        position: absolute;
//        text-align: center;
//        height: 150px;
//        padding: @ws_1;
//        opacity: 1;
//        right: -100px;
//        top: 50%;
//        transform: translateY(-50%);
//        z-index: 11;
//        background-color: @color-mintgreen;
//        transition: 0.4s linear;
//        -webkit-transition: 0.4s linear;
//        -moz-transition: 0.4s linear;
//        -ms-transition: 0.4s linear;
//        transition: 0.4s linear;
//        padding: @ws_1;
//        //width: 0;
//
//        p{
//          display: none;
//            padding: 0;
//        }
//    }

.post-grid-pic a img{
    width: 100%;
}

//    .a-project:hover, element.hover_effect{
//
//        .hover{
//            -webkit-user-select: none;
//            -webkit-touch-callout: none;
//        }
//
//        .opacityBox{
//            opacity: 0;
//            -webkit-transition: opacity 0.6s;
//            -moz-transition: opacity 0.6s;
//            -ms-transition: opacity 0.6s;
//            transition: opacity 0.6s;
//        }
//
//        h3.title-grid{
//            opacity: 0;
//            -webkit-transition: opacity 0.6s;
//            -moz-transition: opacity 0.6s;
//            -ms-transition: opacity 0.6s;
//            transition: opacity 0.6s;
//        }
//
//        div.info-box{
//            width: 178px;
//            right: 0px;
//            transition: 0.6s linear;
//
//            p{
//              display: block;
//            }
//        }
//    }


//--- THE SEARCH BOX------------------------------

.search_form{
    width: 945px;
    margin: 0 auto;

    input.form-control{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: none;
        border: none;
        border-bottom: solid 1px @color-mintgreen;
        width: 198px;
        float: left;
        margin-right: @ws_2;
        float: left;
        padding-top: @ws_2;
    }
    input.search-submit{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: none;
        border: solid 1px @color-mintgreen;
        border-radius: 10px;
        padding: @ws_1;
    }
    input.search-submit:hover,
    input.search-submit:focus{
        background-color: @color-mintgreen;
        color: #fff;
    }

}



//-----If no search result------------------------
.resultat-error{
    text-align: center;
    width: 300px;
}


//--- STYLING OF FILTERS--------------------------


.filters-form>div>ul>li>ul{
  display: none;
}
.filters-form>div>ul>li>ul>li>h4{
  position: relative;
}

.searchandfilter{
    height: 130px;
}

.filter-icon1,
.filter-icon2,
.filter-icon3,
.filter-icon4,
.filter-icon5,
.filter-icon6,
.filter-icon7,
.filter-icon8,
.filter-icon9,
.filter-icon10,
.filter-icon11,
.filter-icon12,
.filter-icon13,
.filter-icon14,
.filter-icon15,
.filter-icon16,
.filter-icon17,
.filter-icon18,
.filter-icon19,
.filter-icon20,
.filter-icon21,
.filter-icon22,
.filter-icon23,
.filter-icon24,{
    position: relative;
}

.filter-icon1 > label,
.filter-icon2 > label,
.filter-icon3 > label,
.filter-icon4 > label,
.filter-icon5 > label,
.filter-icon6 > label,
.filter-icon7 > label,
.filter-icon8 > label,
.filter-icon9 > label,
.filter-icon10 > label,
.filter-icon11 > label,
.filter-icon12 > label,
.filter-icon13 > label,
.filter-icon14 > label,
.filter-icon15 > label,
.filter-icon16 > label,
.filter-icon17 > label,
.filter-icon18 > label,
.filter-icon19 > label,
.filter-icon20 > label,
.filter-icon21 > label,
.filter-icon22 > label,
.filter-icon23 > label,
.filter-icon24 > label{
  visibility: hidden;
}

.filter-icon1 > label > input,
.filter-icon2 > label > input,
.filter-icon3 > label > input,
.filter-icon4 > label > input,
.filter-icon5 > label > input,
.filter-icon6 > label > input,
.filter-icon7 > label > input,
.filter-icon8 > label > input,
.filter-icon9 > label > input,
.filter-icon10 > label > input,
.filter-icon11 > label > input,
.filter-icon12 > label > input,
.filter-icon13 > label > input,
.filter-icon14 > label > input,
.filter-icon15 > label > input,
.filter-icon16 > label > input,
.filter-icon17 > label > input,
.filter-icon18 > label > input,
.filter-icon19 > label > input,
.filter-icon20 > label > input,
.filter-icon21 > label > input,
.filter-icon22 > label > input,
.filter-icon23 > label > input,
.filter-icon24 > label > input{
  visibility: visible;
}

input[type=checkbox]{
    visibility: hidden !important;
    //position: relative;
}

.filter-icon1 input[type=checkbox]:after,
.filter-icon2 input[type=checkbox]:after,
.filter-icon3 input[type=checkbox]:after,
.filter-icon4 input[type=checkbox]:after,
.filter-icon5 input[type=checkbox]:after,
.filter-icon6 input[type=checkbox]:after,
.filter-icon7 input[type=checkbox]:after,
.filter-icon8 input[type=checkbox]:after,
.filter-icon9 input[type=checkbox]:after,
.filter-icon10 input[type=checkbox]:after,
.filter-icon11 input[type=checkbox]:after,
.filter-icon12 input[type=checkbox]:after,
.filter-icon13 input[type=checkbox]:after,
.filter-icon14 input[type=checkbox]:after,
.filter-icon15 input[type=checkbox]:after,
.filter-icon16 input[type=checkbox]:after,
.filter-icon17 input[type=checkbox]:after,
.filter-icon18 input[type=checkbox]:after,
.filter-icon19 input[type=checkbox]:after,
.filter-icon20 input[type=checkbox]:after,
.filter-icon21 input[type=checkbox]:after,
.filter-icon22 input[type=checkbox]:after,
.filter-icon23 input[type=checkbox]:after,
.filter-icon24 input[type=checkbox]:after{
    position: absolute;
    transform: scale(.15);
    visibility: visible;
}

//the styling for the cecked boxes
.filter-icon1 input[type=checkbox]:checked:after,
.filter-icon2 input[type=checkbox]:checked:after,
.filter-icon3 input[type=checkbox]:checked:after,
.filter-icon4 input[type=checkbox]:checked:after,
.filter-icon5 input[type=checkbox]:checked:after,
.filter-icon6 input[type=checkbox]:checked:after,
.filter-icon7 input[type=checkbox]:checked:after,
.filter-icon8 input[type=checkbox]:checked:after,
.filter-icon9 input[type=checkbox]:checked:after,
.filter-icon10 input[type=checkbox]:checked:after,
.filter-icon11 input[type=checkbox]:checked:after,
.filter-icon12 input[type=checkbox]:checked:after,
.filter-icon13 input[type=checkbox]:checked:after,
.filter-icon14 input[type=checkbox]:checked:after,
.filter-icon15 input[type=checkbox]:checked:after,
.filter-icon16 input[type=checkbox]:checked:after,
.filter-icon17 input[type=checkbox]:checked:after,
.filter-icon18 input[type=checkbox]:checked:after,
.filter-icon19 input[type=checkbox]:checked:after,
.filter-icon20 input[type=checkbox]:checked:after,
.filter-icon21 input[type=checkbox]:checked:after,
.filter-icon22 input[type=checkbox]:checked:after,
.filter-icon23 input[type=checkbox]:checked:after,
.filter-icon24 input[type=checkbox]:checked:after{
    position: absolute;
    transform: scale(.15);
}

//Get every icon this is TOPIC
.filter-icon1 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -190px;
}
.filter-icon2 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -245px;
}
.filter-icon3 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -234px;
}
.filter-icon4 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -221px;
}
.filter-icon5 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -343px;
}
.filter-icon6 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -387px;
}
.filter-icon7 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -378px;
}
.filter-icon8 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarlag.png);
    top: -326px;
    left: -380px;
}

//this is KOSTNAD


//this is TID


//this is SVÅRIGHETSGRAD
.filter-icon15 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/kostnad_color_hog.png);
    top: -326px;
    left: -180px;
}
.filter-icon16 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/kostnad_color_mellan.png);
    top: -326px;
    left: -210px;
}
.filter-icon17 input[type=checkbox]:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/kostnad_color_lag.png);
    top: -326px;
    left: -234px;
}



//Get every icon when the box is checked
.filter-icon1 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -192px;
}
.filter-icon2 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -245px;
}
.filter-icon3 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -234px;
}
.filter-icon4 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -221px;
}
.filter-icon5 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -343px;
}
.filter-icon6 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -387px;
}
.filter-icon7 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -378px;
}
.filter-icon8 input[type=checkbox]:checked:after{
    content: url(http://resval.local/wp-content/themes/Resval/img/svarmellan.png);
    top: -326px;
    left: -380px;
}



// -- MEDIA QUERY --------------------------------------------------------------
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {

    .post-grid{
        //padding: @ws_8 @ws_4 0 @ws_4;
        width: 1000px;
        margin: 0 auto;

        .filterbox{
            width: 945px;
            margin: 0 auto;
        }

        .resultat-error{
            width: 940px;
        }

        ul.gridParent{
            grid-template-columns: 300px 300px 300px;
            width: 945px;
            margin: 0 auto;
        }

    }

    .gridParent li{
        float: left;
        //margin-right: @ws_2;
        position: relative;
    }

    div.info-box{
        position: absolute;
        text-align: center;
        height: 150px;
        padding: @ws_1;
        opacity: 1;
        right: -100px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
        background-color: @color-mintgreen;
        transition: 0.4s linear;
        -webkit-transition: 0.4s linear;
        -moz-transition: 0.4s linear;
        -ms-transition: 0.4s linear;
        transition: 0.4s linear;
        padding: @ws_1;
        width: 0;

        p{
          display: none;
            padding: 0;
        }
    }

    .a-project:hover {

        .opacityBox{
            opacity: 0;
            -webkit-transition: opacity 0.6s;
            -moz-transition: opacity 0.6s;
            -ms-transition: opacity 0.6s;
            transition: opacity 0.6s;
        }

        h3.title-grid{
            opacity: 0;
            -webkit-transition: opacity 0.6s;
            -moz-transition: opacity 0.6s;
            -ms-transition: opacity 0.6s;
            transition: opacity 0.6s;
        }

        div.info-box{
            width: 178px;
            right: 0px;
            transition: 0.6s linear;

            p{
              display: block;
            }
        }
    }


}

.searchandfilter ul > li > ul:not(.children){
  position: absolute;
  overflow: hidden;
  height: 70px;
  padding: 5px;
  box-sizing: border-box;

}
li.cat-item{
  top: 50px;
}

.form-height{
  height: 150px !important;
}

.item-color{
  color: @color-lightgreen !important;
}

.hide{
  display: none !important;
}
