// -- COLORS -------------------------------------------------------------------

@color-mintgreen: #95d3c3;
@color-lightgreen: #7ea989;
@color-darkgreen: #2e5047;
@color-yellow: #f1d417;

// -- GRID ---------------------------------------------------------------------

//whitespace (ws)
@ws_1: 11px;
@ws_2: 22px;
@ws_4: 44px;
@ws_6: 66px;
@ws_8: 88px;



//-----Here we start with the styling-------------------

.post-grid{
    padding: @ws_2;
}

ul.gridParent{
   overflow: hidden;
    margin-top: @ws_1;
}

a h3.title-grid{
    position: absolute;
    z-index: 10;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    width: 300px;
    height: 300px;
     -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    vertical-align: middle;
    line-height: 300px;
    text-transform: uppercase;
    color: #ffffff;
}

.post-grid-pic a img{
    position: relative;
    margin-top: @ws_1;
}

.post-grid-pic a img:hover{
    filter: none;
    -webkit-transition: filter 0.6s;
    -moz-transition: filter 0.6s;
    transition: filter 0.6s;
}

h3.title-grid:hover{
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
}



// -- MEDIA QUERY --------------------------------------------------------------
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {
    
    .gridParent li{
        float: left;
    }
    
    a h3.title-grid{
        display: inline-block;
    }
    
    span.a-project{
       margin: @ws_1;
    }
    
    // -- The filters/project type ---------------------------
    div.filterbox{
        overflow: hidden
    }
    ul.project_type{
        float: right;
    }
    
    li.filter{
        display: inline;
    }
    
    li.filter a{
        text-transform: uppercase;
        border: solid 1px @color-yellow;
        border-radius: 5px;
        padding: 5px;
        margin: @ws_1;
        float: left;
    }
}
