// -- COLORS -------------------------------------------------------------------

@color-mintgreen: #95d3c3;
@color-lightgreen: #7ea989;
@color-darkgreen: #2e5047;
@color-yellow: #f1d417;

// -- GRID ---------------------------------------------------------------------

//whitespace (ws)
@ws_1: 11px;
@ws_2: 22px;
@ws_4: 44px;
@ws_6: 66px;
@ws_8: 88px;
/*-- FOOTER ------------------------------------------------------------------*/
footer{
  margin-top: @ws_4;
  clear: both;
  background: white;
  text-align: center;

  .smallfooter{
    background-color: @color-darkgreen;
    color: white;
    padding: @ws_2 @ws_2;

    .footer-text{
      margin-top: @ws_1;
      clear: both;

        .newsletter{
            a{
              color: white;
            }
          }
          #footer-logo-container{

            ul{
              li{
                #footer-logo{
                  width: 100px;
                  margin:@ws_1 auto;
            }
          }
        }
      }

        .copyright{
          color:white;
          margin-top: @ws_1;
          // text-align: left;
          font-size: 10px;
        }
      }
    }
  }

@media only screen and (min-width : 768px) {
footer{
.smallfooter{
    .footer-text{
      .newsletter{
        text-align: left;
      }
      #footer-logo-container{
        margin: 0;
        // align:right;
        ul{
          overflow: hidden;
          width: 50%;

          li{
            float: left;
            width: 50%;

            #footer-logo{
              width: 140px;
              margin:@ws_1 0;
            }
           }
          }
        }

     .copyright{
       text-align: left;
      }
     }
    }
  }
}
