// -- COLORS -------------------------------------------------------------------

@color-mintgreen: #95d3c3;
@color-lightgreen: #7ea989;
@color-darkgreen: #2e5047;
@color-yellow: #f1d417;

// -- GRID ---------------------------------------------------------------------

//whitespace (ws)
@ws_1: 11px;
@ws_2: 22px;
@ws_4: 44px;
@ws_6: 66px;
@ws_8: 88px;
/*-- FOOTER ------------------------------------------------------------------*/
footer{
  margin-top: @ws_4;
  clear: both;
  background: white;
  text-align: center;

  .logofooter{
    // margin-top: @ws_2;
    padding: 0 @ws_1;

    .footerLine{
      border-top: 1px solid #eee;

      // margin-top: @ws_4;
      /*
      style from Vinay Raghu on CodePen
      height: 1px;
      background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
      background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
      background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
      background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
      border: 0;
      */
    }

// Old newspaper link
    .footerlinks{
      margin-top: @ws_2;

      p{
        a{
          text-align: center;
         }
       }
     }


    .logoContainerFooter{
      ul{
        overflow: hidden;
        margin: @ws_2 -@ws_1;

        li{
          float: left;
          width: 25%;

          div{
            margin: 0 @ws_1;
            // padding: 0 @ws_1;
                img{
                  max-width: 90% !important;
                  display: block;
                // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                // filter: grayscale(100%);
                // vertical-align: bottom;

              }
            }

            // Does not work
            .portraitlogo{
              max-width: 80% !important;
            }

            .landscapelogo{
              padding-top: 45px;
            }
         }
       }
     }
   }


  .copyright{
    margin-top: @ws_1;
    background-color: @color-darkgreen;
    padding: @ws_2;
    text-align: center;
    clear: both;

    p{
      color: white;
    }
  }
}




  @media only screen and (min-width : 768px) {
footer{
.logofooter{
  height: 200px;
  padding: 0 @ws_4;

  .logoContainerFooter{
    ul{
      li{
        div{
          img{
            max-width: 140px !important;
        }
      }
    }
  }
}

  .copyright{
    margin-top: @ws_2;

  }
 }
}
}
