//The colours
@color-mintgreen: #95d3c3;
@color-lightgreen: #7ea989;
@color-darkgreen: #2e5047;
@color-yellow: #f1d417;

//whitespace (ws)
@ws_1: 11px;
@ws_2: 22px;
@ws_4: 44px;
@ws_6: 66px;
@ws_8: 88px;



/*-- HEADER ------------------------------------------------------------------*/

header{
  overflow: hidden;
  width: 100vW;
  padding: @ws_4;
  position: fixed;
  z-index: 100;
  //-- need to be changed before handing in
  top: 32px;
  left: 0;
    box-sizing: border-box;
  background: -webkit-linear-gradient(#ffffff 60%,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(#ffffff 70%,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
  background: linear-gradient(#ffffff 70%,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
}


//hamburger menu
span.responsive-menu-box{
    margin-top: @ws_6;
}

//-- LOGO ----------------------------------------------------------------------
.logo{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logocontainer{
  display: inline;
}

/*-- NAVIGATION --------------------------------------------------------------*/
//Hamburger styling

div#responsive-menu-wrapper{
    padding-top: @ws_8;
}
//hides the search
#responsive-menu-search-box {
    display: none;
}



//--------------------THIS IS THE BIG MENU
@media only screen and (min-width : 768px){

    .logo{
        width: 10%;
        display: inline;
    }
    
    
    // -- nav wrapper
    #mainmenu{
      float: right;
    }

    // -- inline all nav elements
    nav>div.menu-menu-container>ul.menu>li{
      display: inline;
      padding: @ws_1;
    }


    // ----- Hover---------------
    nav>div.menu-menu-container>ul.menu>li:hover{
        border-bottom: 1px solid @color-lightgreen;
        padding-bottom: 0;
    }
    
    //Active
    nav>div.menu-menu-container>ul.menu>li.current-menu-item{
        border-bottom: 1px solid @color-lightgreen;
        padding-bottom: 0;
    }
    

//------upload project styled differently
    nav>div.menu-menu-container>ul.menu>li:nth-last-child(1){
        background-color: @color-lightgreen;
        border-radius: 10px;
    }

    nav>div.menu-menu-container>ul.menu>li:nth-last-child(1):hover{
        border: 1px solid @color-lightgreen !important; 
        background: none;
        padding-bottom: @ws_1;
        box-sizing: border-box;
    }
    
    //Active
    nav>div.menu-menu-container>ul.menu>li:nth-last-child(1).current-menu-item{
        border: 1px solid @color-lightgreen !important; 
        background: none;
        padding-bottom: @ws_1;
        box-sizing: border-box;
    }
}
