/*-- HEADER ------------------------------------------------------------------*/

// -- page title
h1{
  display: inline-block;
  padding: 5px 0px 25px 25px;
}


/*-- NAVIGATION --------------------------------------------------------------*/

// -- nav wrapper
#mainmenu{
  float: right;
  padding: 25px;
}

// -- inline all nav elements
nav>div.menu-menu-container>ul.menu>li{
  display: inline;
  padding: 10px 10px 10px 10px;
}
