
// -- COLUMN LEFT AND RIGHT ----------------------------------------------------

div.column-left, div.column-right{
  width: 100%;
  padding: 22px;
}


// -- COLUMN LEFT IMAGE --------------------------------------------------------

div.column-left{
  padding: 66px 44px;
}

div.column-left >img{
  width: 100vW;
  height: auto !important;
  margin: auto auto;
}

// -- COLUMN RIGHT TEXT --------------------------------------------------------

// -- Coloured Background
div.column-right{
  background-color: #95d3c3;
}

// -- Scroll Component
div.column-right>div.scroll-y{
  padding: 44px;
}

//-- text stylings
div.column-right>div.scroll-y>p:last-child{
  padding-bottom: 40px;
}



// -- MEDIA QUERY --------------------------------------------------------------


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {

  // -- COLUMN LEFT AND RIGHT --------------------------------------------------

  div.column-left, div.column-right{
    width: 50%;
    float: left;
    padding: 44px;
    box-sizing: border-box;
  }

  // -- COLUMN LEFT IMAGE ------------------------------------------------------

  div.column-left{
    padding: 88px;
    vertical-align: middle;
  }


  // -- COLUMN RIGHT TEXT ------------------------------------------------------
  div.column-right{
    padding: 44px 0 44px 44px;
  }

  // -- Scroll Component
  div.column-right>div.scroll-y{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
  }

  //-- text stylings
  div.column-right>div.scroll-y>p:last-child{
    padding-bottom: 40px;
  }

}
