
// -- COLUMN LEFT AND RIGHT ----------------------------------------------------

div.column-left, div.column-right{
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}


// -- COLUMN LEFT IMAGE --------------------------------------------------------

div.column-left{
  padding: 120px;
}

div.column-left >img{
  width: 100%;
  height: auto !important;
  margin: auto auto;
}

// -- COLUMN RIGHT TEXT --------------------------------------------------------

// -- Coloured Background
div.column-right{
  background-color: #95d3c3;
}

// -- Scroll Component
div.column-right>div.scroll-y{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

//-- text stylings
div.column-right>div.scroll-y>p:last-child{
  padding-bottom: 40px;
}
