
// -- COLUMN LEFT AND RIGHT ----------------------------------------------------

div.column-left, div.column-right{
  width: 50%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}


// -- COLUMN LEFT IMAGE --------------------------------------------------------

div.column-left >img{
  width: 100%;
  height: auto !important;
  margin: 0 auto;
}

// -- COLUMN RIGHT TEXT --------------------------------------------------------

// -- Coloured Background
div.column-right{
  background-color: #7ea989;
}

// -- Scroll Component
div.column-right>div.scroll-y{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

//-- text stylings
div.column-right>div.scroll-y>p{
  // color: white;
}
