// -- COLORS -------------------------------------------------------------------

@color-mintgreen: #95d3c3;
@color-lightgreen: #7ea989;
@color-darkgreen: #2e5047;
@color-yellow: #f1d417;

// -- GRID ---------------------------------------------------------------------

//whitespace (ws)
@ws_1: 11px;
@ws_2: 22px;
@ws_4: 44px;
@ws_6: 66px;
@ws_8: 88px;



//-- RECIPE DECRIPTION ---------------------------------------------------------
div.column-right>div.scroll-y{

  div.ingredients-container{
    padding: @ws_2 0;

    div.ingredients-container:first-child{
      padding-left: 0 !important;
    }

    span.effort, span.time, span.groupsize, span.budget{
      display: inline;
      width: 50px;
      height: 50px;
      padding-left: @ws_2;

      // -- icon size
      img{
        width: 50px;
      }
    }
  }

  div.project-description{

    div.description-section{
      padding-top: @ws_2;
      div.expander-container{
        a.expander-trigger{

        button.icon-handle{
          display: inline-block;
          position: relative;
        }
        button.icon-handle:after{
          content: "\f078";
          line-height: @ws_2;
          position: absolute;
          left: 120px;
          top: 3px;
          font-family: FontAwesome;
          text-align: center;
          color: white;
          border: solid 1px white;
          border-radius: 50%;
          width: @ws_2;
          height: @ws_2;
          font-size: 12px;
        }

      }
    }
      // span.kontakt{
      //   // margin-top: @ws_4;
      // }
    }
  }
}

//-- ARROW UP ------------------------------------------------------------------
.expander-modifier:after{
  content: '\f077' !important;
}

//-- FLEXSLIDER ARROWS ---------------------------------------------------------

span.project-image-caption{
  margin-top: 10px;
}

@media only screen and (min-width : 768px) {

      span.effort, span.time, span.groupsize, span.budget{
        width: 70px;

        img{
          width: 70px;
        }
      }
  }

  // -- hide flexslider liststyle
  ol.flex-control-nav.flex-control-paging{
    display: none;
  }

  // -- buttons
  button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;


  }
